@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.section{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(97, 97, 97);
}

h1{
    font-weight: 300;
    font-size: 40px !important;
    margin-bottom: -5px;
}

p{
    font-size: 12px;
    margin-bottom: 40px;
}

input:focus{
    outline: none;
}
input::placeholder{
    color: rgb(137, 137, 137);
}

.inputs input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    margin: 10px 0;
    border-bottom: 1px solid rgb(137, 137, 137);
    color: rgb(39, 39, 39);
}

.inputs p{
    justify-self: start;
    color: rgb(255, 19, 19);
    margin: 0;
}

.btn{
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(82, 82, 82);
    background: #007bff;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn:hover{
    background: #0068d8;
    transition: 0.2s all ease;
}

span{
    font-weight: 300;
    opacity: 70%;
}

h4{
    font-weight: 500;
    color: rgb(255, 19, 19);
    margin: 0;
}

.remember{
    justify-self: start;
    font-size: 14px;
    font-weight: 400;
    color: rgb(57, 57, 57);
    margin: 15px 0 0 0; 
}

.navigation{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


.navigation .navBtn{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
/* custome darkmode toggle */ 
.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.25em;
    height: 2.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 1.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
    background-color: #efefef;
    border-radius: 50%;
    padding: 5px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer{
    position: relative;
    margin: 0 5px;
}

.menu{
    position: absolute;
    width: 100px;
    right: -10px;
    top: 40px;
    background-color: #efefef;
    height: auto;
    border-radius: 5px;
    visibility: hidden;
}

.menu .title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 8px;
}

.menu .menu-icon{
    margin-right: 5px;
}

.menu .horizontalLine{
    color: #2a2a2a;
    margin: 0 10px;
}

.menu.active{
    visibility: visible;
}

.menu ul{
    padding: 8px 0;
}

.menu ul li{
    text-decoration: none;
    list-style: none;
    padding: 0 12px; 
    font-size: 15px;
    margin: 5px 0;
}

.menu ul li:hover{
    color: #0068d8;
    cursor: pointer;
}
.menu ul li .Btn{
    border: none;
    font-size: 15px;
}

.menu::before{
    content: "";
    position: absolute;
    top: -5;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: #efefef;
    transform: rotate(45deg);
}

#success{
    background-color: #ddffdd;
    width: 100%;
    color: #121212;
    font-weight: 500;
    display: block;
}

/* DarkMode */

.dark-mode{
    background-color: #121212;
    color: #f1f1f1;
    transition: 0.2s ease-in-out;
}

.dark-mode .section,
.dark-mode input{
    background-color: #2e2e2e;
    color: #f3f3f3;
}

.dark-mode .menu,
.dark-mode .menu::before{
    background-color: #2e2e2e;
}

.dark-mode .Btn{
    background-color: #2e2e2e;
    color: #f3f3f3;  
}
.dark-mode .material-symbols-outlined{
    background-color: #2e2e2e;
    color: #f3f3f3;
}
.dark-mode .sign svg path {
    fill: #f3f3f3;  
    color: #f3f3f3;  
}

.dark-mode .navigation .navBtn{
    color: white;
    border-bottom: 1px solid white;
}

/* Profile Page style */

.resetLink{
    display: flex;
    align-self: flex-start;
    font-size: 12px;
}

/* RESET PASSWORD form  */

.resetform .emailInput{
    display: flex;
    align-items: center;
}

.resetform .emailInput input{
    width: 100%;
}
.resetform .emailInput button{
    width: 10%;
    height: 30px;
    margin: 5px;
}
.resetform p{
    display: flex;
    align-self: start;
    color: red;
    margin: 0;
}

.resetform #success{
    font-size: 15px;
}