@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
.section{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(97, 97, 97);
    border-radius: 5px;
}

h1{
    font-weight: 300;
    font-size: 40px !important;
    margin-bottom: -5px;
}

p{
    font-size: 12px;
    margin-bottom: 40px;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: rgb(137, 137, 137);
}

.inputs input,
#budget-container input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    margin: 10px 0;
    border-bottom: 1px solid rgb(137, 137, 137);
    color: rgb(39, 39, 39);
    background: transparent;
}

.inputs p{
    justify-self: start;
    color: rgb(255, 19, 19);
    margin: 0;
}

.btn{
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(82, 82, 82);
    background: #007bff;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn:hover{
    background: #0068d8;
    transition: 0.2s all ease;
}

span{
    font-weight: 300;
}

h4{
    font-weight: 500;
    color: rgb(255, 19, 19);
    margin: 0;
}

.remember{
    justify-self: start;
    font-size: 14px;
    font-weight: 400;
    color: rgb(57, 57, 57);
    margin: 15px 0 0 0; 
}

.navigation{
    overflow: hidden;
    top: 0 !important;
    font-family: "Poppins", sans-serif;
    /* margin: 20px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 10px 15px;
    position: sticky;
    z-index: 100;
    background-color: #e1e1e1;
    box-shadow: 0px 5px 0px rgb(201, 201, 201); 
}

.navigation .navBtn{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}

/* custome darkmode toggle */ 
.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: non e;
    -moz-appearance: none;
    appearance: none;
    width: 3.25em;
    height: 2.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 1.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

.profileIcon {
    cursor: pointer;
    background-color: #efefef;
    padding: 5px 9px;
    border-radius: 50%;
}

.dark-mode .profileIcon{
    background-color: #2a2a2a;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer{
    position: relative;
    margin: 5px 5px;
}

.menu{
    position: absolute;
    width: 100px;
    right: -10px;
    top: 40px;
    background-color: #efefef;
    height: auto;
    border-radius: 5px;
    visibility: hidden;
}

.title{
    font-size: 20px;
}

.menu .title{
    font-size: 15px;
    padding: 20px 0 5px 0;
    display: flex;
    justify-content: center;
}

.menu .menu-icon{
    margin-right: 5px;
}

.menu .horizontalLine{
    color: #2a2a2a;
    margin: 0 10px;
}

.menu.active{
    visibility: visible;
}

.menu ul{
    padding: 8px 0;
}

.menu ul li{
    text-decoration: none;
    list-style: none;
    padding: 0 12px; 
    font-size: 15px;
    margin: 5px 0;
}

.menu ul li:hover{
    color: #0068d8;
    cursor: pointer;
}
.menu ul li .Btn{
    border: none;
    font-size: 15px;
}

.menu::before{
    content: "";
    position: absolute;
    top: -5;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: #efefef;
    transform: rotate(45deg);
}

#success{
    background-color: #ddffdd;
    /* width: 100%; */
    padding: 10px;
    margin: 0 0 10px 0;
    text-align: center;
    border-radius: 10px;
    color: #000000 !important;
    font-weight: 500;
    visibility: hidden;
    display: block;
}

/* DarkMode */

.dark-mode{
    background-color: #121212;
    color: #f1f1f1;
    transition: 0.2s;
}

.dark-mode .menu ul li:hover{
    color: #03dac6;
}

.dark-mode .sideNav{
    background-color: #1e1e1e;
}

.dark-mode .sideNav ul li:hover{
    color: #03dac6;
}

.dark-mode .navigation{
    background-color: #1f1f1f;
    box-shadow: 0 5px 0px rgb(42, 42, 42);
}

.dark-mode .section,
.dark-mode input{
    background-color: #2e2e2e;
    color: #f3f3f3;
}

.dark-mode .menu,
.dark-mode .menu::before{
    background-color: #2e2e2e;
}

.dark-mode .Btn{
    background-color: #2e2e2e;
    color: #f3f3f3;  
}
.dark-mode .material-symbols-outlined{
    background-color: #2e2e2e;
    color: #f3f3f3;
}
.dark-mode .sign svg path {
    fill: #f3f3f3;  
    color: #f3f3f3;  
}

.dark-mode .navigation .navBtn{
    color: white;
    border-bottom: 1px solid white;
}

/* Profile Page style */

.resetLink{
    display: flex;
    align-self: flex-start;
    font-size: 12px;
}

/* RESET PASSWORD form  */

.resetform .emailInput{
    display: flex;
    align-items: center;
}

.resetform .emailInput input{
    width: 100%;
}
.resetform .emailInput button{
    width: 10%;
    height: 30px;
    margin: 5px;
}
.resetform p{
    display: flex;
    align-self: start;
    color: red;
    margin: 0;
}

.resetform #success{
    font-size: 15px;
}

/* Side NavigationBar */

.sideNav{
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    transition: 0.3s;
    z-index: 10;
}

.sideNav ul{
    padding-top: 20px;
}

.sideNav ul li{
    padding: 15px 15px;
    list-style: none;
    font-family: 'popins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sideNav ul li:hover{
    transition: 0.3s;
    color: #0068d8;
}

.sideNav ul li i{
    padding: 0 5px 0 0;
}

.sideNav ul li i:last-child{
    margin-left: auto;
}

.hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}
/* main Container */

.main-container{
    margin-left: 220px;
    padding: 20px;
    font-family: "popins", sans-serif;
}

.dark-mode .form{
    background-color: #2e2e2e
}

.dark-mode textarea{
    background: transparent;
    color: white;
}
.dark-mode select{
    background: transparent;
    color: rgb(137, 137, 137);
}
.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}   

.form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
}

.btn-submit {
    background-color: #007bff;
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* show expenses */

.form{
    margin-top: 15px;
}

.table,th,td{
    padding: 3px;
    padding-top: 5px;
}

.table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    width: 50px;
    padding: 10px 0;
}

.table td:first-child{
    width: 30px;
}

.table th{
    text-align: start;
    padding-bottom: 10px;
}

.table th:last-child{
    text-align: center;
}

.table td:last-child,
.table td:nth-last-child(2){
    text-align: center;
}

thead tr {
    border-bottom: 1px solid rgb(43, 43, 43);
}

.dark-mode thead tr{
    border-bottom: 1px solid white ;
}

.dark-mode .icon{
    color: white;
}

.dark-mode .icon:hover{
    color: #03dac6;
}

.icon:hover{
    color: #0068d8;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.tableLayout{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.dark-mode .tableLayout{
    background-color: #2e2e2e;
}


/* Loader */

body, html {
    /* overflow: scroll; */
    scrollbar-width: none;     
    -ms-overflow-style: none;  

}
body::-webkit-scrollbar {
    display: none;               
}

.dark-mode #loader{
    background-color: #1f1f1f;
}
.dark-mode .dot-spinner {
    --uib-color: white;
}

#loader{
    position: fixed; /* Use fixed to stay on screen during scroll */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* or dark color for dark theme */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.edBtn {
    background: transparent;
    border: none;
}

.icon{
    font-size: 15px;
    cursor: pointer;
}

/* Dashboard Section */

.dashboard{
    padding: 20px 40px;
}

.secondory-text{
    margin: 10px 0 10px 10px ;
    font-size: 20px;
}

.dashboard .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard .container .box{
    background: transparent;
    border: 3px solid rgb(203, 203, 203);
    border-radius: 10px;
    width: 300px;
    height: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    font-size: 30px;

    overflow: visible;
    white-space: normal;
}

.dashboard .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dark-mode .dashboard .container .box{
    border: 3px solid rgb(63, 63, 63);
}

.dashboard .container .box .toatalSDisplay{
    padding-bottom: 25px;
}

.dashboard .container .box .toatalSDisplay:last-child,
.dashboard .container .box #budget-container .toatalSDisplay:first-child{
    font-size: 50px;
    padding-bottom: 1px;
}

#budget-container{
    display: flex;
    align-items: baseline;
}


.dashboard .container .box #budget-container #editBudgetBtn i{
    font-size: 15px;
}

.dashboard .container .box #budget-container #editBudgetBtn{
    margin: 10px 0;
    width: 50px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #0068d8;
}    

.dark-mode .dashboard .container .box #budget-container #editBudgetBtn,
.dark-mode #budget-container #budgetBtn{
    color: #03dac6;
}

#budget-container #budgetBtn{
    margin: 10px 0;
    width: 50px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #0068d8;
}

.dark-mode canvas {
    background-color: transparent;
}

#expenseChart{
    height: 300px;  
    max-height: 330px;
    /* color: #5b6885; */
}

/* Responsive Layout */

@media only screen and (max-width: 600px){
    h1{
        font-size: 20px !important;
        margin-bottom: -5px;
    }
    .theme-checkbox {
        --toggle-size: 15px;
    }
    
    .profileIcon {
        padding: 5px 9px;
    }

    .dashboard{
        padding: 20px 20px;
    }
/* 
    html,body{
        overflow: hidden;
    } */
/* 
    .sideNav{
        display: none;
    } */

    .main-container{
        margin-left: 0;
        padding: 0;
    }

    .hamburger {
        display: inline;
    }

    

    .sideNav {
        position: fixed;
        top: 0;
        left: -220px; /* Hide initially */
        height: 100vh;
        width: 220px;
        background-color: #e1e1e1;
        transition: left 0.3s ease;
        display: flex;
        flex-direction: column;
        z-index: 999;
    }

    .sideNav.open {
        left: 0; /* Slide in when open */
    }

    .dashboard h1{
        font-size: 30px !important;
    }

    .dashboard p{
        font-size: 16px;
    }

    .dashboard .container .box .toatalSDisplay:last-child,
    .dashboard .container .box #budget-container .toatalSDisplay:first-child{
        font-size: 30px;
        padding-bottom: 1px;
    }
    
    .dashboard .container .box{
        width: 100%;
        height: 100px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 10px;
    }
    .dashboard .container .box .toatalSDisplay{
        padding-bottom: 10px;
    }

    #budget-container input{
        width: 80%;
        height: 20px;
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid rgb(137, 137, 137);
        color: rgb(39, 39, 39);
    }

    #budget-container #budgetBtn{
        margin: 0 10px;
        width: 40px;
        height: 30px;
    }

    #budget-container{
        display: flex;
        width: 100%;
    }
    .dashboard .container i{
        height: 30px;
    }
/* 
    .dashboard .container{
        display: flex;
        width: 100%;
    } */

    .dashboard .container .box #budget-container #editBudgetBtn{
        margin: 0 0;
        width: 40px;
        height: 30px;
    }    
    .form {
        margin-top: 0;
        padding-bottom: 100%;
    }
    .tableLayout {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        min-width: 600px; 
    }
    
    .tableLayout{
        border-radius: 0;
    }

    .section{
        border: none;
        margin-top: 50px;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        padding-top: 50px;
    }

    #expenseChart{
        width: 100%;
    }
}