<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="section resetform">
        <h1>Password Reset</h1>   
        <span id="success"></span>
        <div class="inputs emailInput">
            <input name="resetEmail" type="email" id="resetEmail" placeholder="Enter Registered Email" required>
            <button id="checkEmail"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <p id="textError"></p>
        <form id="passResetForm">
            <div id="container" class="inputs">
            </div>
            <button type="submit" class="btn" id="submitBtn">Reset</button>
        </form> 
        <button type="submit" class="btn" id="backBtn" ><i class="fa-solid fa-arrow-left"></i> Back</button>
    </div>
</body>
<script src="https://kit.fontawesome.com/6ce4435109.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>
<script src="../js/auth.js"></script>
</html>